/*-------------------------------------------------------------------------------------------------
Icons
/*-----------------------------------------------------------------------------------------------*/
	.icon{
		display: inline-block;
		overflow: hidden;
		//background: url('../media/images/sprite.png') no-repeat;
		text-indent:-999px;
	}
