/*-------------------------------------------------------------------------------------------------
Containers (misc div-structures)
/*-----------------------------------------------------------------------------------------------*/
	.container{
		margin: 0 auto;
		position:relative;
		width: 100%;
	}
